// Helpers - This is where I style my Id and classes

.navbar-brand {
    text-transform: capitalize;
    font-size: 25px !important;
}

.navbar {
    padding: .01rem 1rem !important;
}

.alignment {
    margin-left: auto;
}